<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Interfacer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Interfacer.Properties.Settings>
            <setting name="BaseColor" serializeAs="String">
                <value>139</value>
            </setting>
            <setting name="HebrewColor" serializeAs="String">
                <value>16718080</value>
            </setting>
            <setting name="HebrewAltColor" serializeAs="String">
                <value>9437439</value>
            </setting>
            <setting name="EnglishColor" serializeAs="String">
                <value>2401540</value>
            </setting>
            <setting name="EnglishAltColor" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="TopNumberNormalColor" serializeAs="String">
                <value>139</value>
            </setting>
            <setting name="NumpadNormalColor" serializeAs="String">
                <value>2401540</value>
            </setting>
        </Interfacer.Properties.Settings>
    </userSettings>
</configuration>